* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  /* background-color: rgba(14, 144, 196, 0.527); */
  background-color: rgb(116, 192, 253);
  display: flex;
  align-items: center;
  justify-content: center;
}
#card {
  height: 31vw;
  width: 24.2vw;
  background-color: rgb(255, 255, 255);
  border-radius: 0.79vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2vw 4vw;
}
#card img {
  height: 8vw;
  width: 8vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
form {
  display: none;
  /* display: ; */
  /* margin-bottom: 1.9vw; */
}
#card h1 {
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}
#card p {
  opacity: 0.7;
  padding: 0.3vw 1vw;
}
#card h3 {
  text-transform: capitalize;
  font-size: 2vw;
  font-weight: 900;
  color: rgb(255, 0, 0);
  margin-bottom: 0.5vw;
}
#card button {
  padding: 0.45vw 1.7vw;
  font-size: 1.3vw;
  text-transform: capitalize;
  border-radius: 2vw;
  background-color: #6bbbdb;
  border: none;
  color: #fff;
  font-weight: 600;
  font-family: utopia;
  margin-top: 0.7vw;
}
