* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#box {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  /* background-color: rgb(252, 252, 67); */
  border: 2px solid rgb(172, 82, 73);
  margin-left: 25vw;
  margin-bottom: 16vw;
  margin-top: 4vw;
  /* position: relative; */
}
button {
  padding: 1.2vw 3vw;
  font-size: 2.4vw;
  text-transform: uppercase;
  margin-left: 33vw;
  border-radius: 1vw;
}
