@font-face {
  font-family: montt;
  src: url(./Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: gilroy;
  src: url(./gil/SVN-Gilroy\ SemiBold.otf);
}
@font-face {
  font-family: bold;
  src: url(./gil/SVN-Gilroy\ Bold.otf);
}
@font-face {
  font-family: mont;
  src: url(./Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: attila;
  src: url(./attila.ttf);
}
@font-face {
  font-family: dance;
  src: url(./DancingScript-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #dadada;
  text-transform: uppercase;
  font-family: attila;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  /* padding-top: 8vw; */
  background-color: #232025;
  overflow-x: hidden;
}
#main {
  width: 100%;
  /* position: relative; */
  background-color: #232025;
  /* overflow: hidden; */
  /* padding-top: 7vw; */

  /* background-color: red; */
}
#menu {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  position: fixed;
  background-color: #cecece;
  top: -100%;
  transition: all ease 0.9s;
  z-index: 5;
  overflow: hidden;
}
#menu > h1 {
  /* background-color: transparent; */
  color: #2b2b2b;
  font-size: 13vw;
  position: absolute;
  top: 12%;
  left: 7%;
  letter-spacing: -5px;
}
#menu #box {
  /* height: 40vh; */
  /* width: 30%; */
  position: absolute;
  top: 46.5%;
  left: 7%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
}
#box h3 {
  color: #2b2b2b;
  text-transform: capitalize;
  font-size: 2.2vw;
  font-family: montt;
  font-weight: 500;
  cursor: pointer;
}
#boxx {
  position: absolute;
  top: 46.5%;
  left: 31%;
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
}
#boxx h3 {
  color: #2b2b2b;
  text-transform: capitalize;
  font-size: 2.2vw;
  font-family: montt;
  cursor: pointer;
  font-weight: 500;
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 6vw;
  /* position: relative; */
  z-index: 8;
  /* margin-bottom: 2vw; */
}
#navbar > h3 {
  letter-spacing: 0.7vw;
  font-size: 1.15vw;
  transition: all ease 0.9s;
}
#navbar #rnav {
  padding-left: 71vw;
  display: flex;
  gap: 2vw;
  align-items: center;
  font-size: 1.1vw;
  transition: all ease 0.9s;
}
#rnav > h4 {
  letter-spacing: 0.2vw;
  transition: all ease 0.9s;
}
#rnav > i {
  cursor: pointer;
  font-size: 1.75vw;
  transition: all ease 0.9s;
}
#page1 {
  width: 100%;
  min-height: 100vh;
  /* position: relative; */
  /* margin-top: 12vw; */
}
#mainh {
  padding: 1.4vw 5.8vw;
  /* background-color: red; */
}
#mainh > h1 {
  margin-top: 8vw;
  font-size: 13.5vw;
  letter-spacing: 1.2vw;
  margin-bottom: 1vw;
  transition: all Ease ease-in 0.2s;
  /* font-family: montt; */
}
#page1 h2 {
  text-transform: initial;
  font-size: 2.1vw;
  width: 26%;
  margin-left: 24vw;
  opacity: 0.9;
  position: absolute;
  /* position: absolute; */
  /* left: 20%; */
  /* background-color: red; */
}
#page1 h4 {
  /* background-color: red; */
  font-size: 1vw;
  width: 13%;
  margin-left: 66vw;
  margin-top: 2vw;
  opacity: 0.8;
}
#page1 img {
  width: 100%;
  position: absolute;
  top: 86vh;
  /* transform: translate(-50%, -50%); */
  left: 0;
  /* right: 0; */
  scale: 0.93;
  z-index: 3;
}
#page2 {
  width: 100%;
  /* height: 100%; */
  min-height: 100vh;
  margin-top: 90vh;
  position: relative;
}
#page2 h1 {
  width: 65%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: lowercase;
  font-size: 3.5vw;
  transform-origin: 100%;
}
#page2h1 > span {
  text-transform: lowercase;
  font-family: dance;
}
#page2 #line {
  /* margin-top: 2vw; */
  position: absolute;
  /* left: 50%;
  transform: translatex(-50%); */
  margin-left: 5.6vw;
  top: 84%;
  width: 10%;
  height: 0.22vh;
  background-color: #dadadaab;
}
#page2 > h5 {
  position: absolute;
  top: 81.5%;
  padding-left: 16vw;
  font-size: 0.9vw;
  /* text-transform: capitalize; */
  letter-spacing: 1.3px;
  font-weight: 100;
  color: #ffffffe7;
  font-family: montt;
}
#page4 {
  width: 100%;
  height: 95vh;
  /* background-color: red; */
  margin-top: -8.5vw;
}
#page4 #top {
  width: 100%;
  height: 73%;
  /* background-color: yellow; */
  padding: 7.9vw 5.5vw;
}
#top > h1 {
  width: 100%;
  font-size: 7.2vw;
  line-height: 1.02;
  scale: 0.8;
  opacity: 0;
}
#page4 #bottom {
  width: 100%;
  height: 27%;
  /* background-color: green; */
  display: flex;
  border-top: 1.25px solid #dadadad8;
  border-bottom: 1.25px solid #dadadad8;
}
#bottom #left {
  width: 68%;
  height: 100%;
  /* background-color: blue; */
  border-right: 0.8px solid #dadadad8;
  padding: 2.5vw 5.5vw;
}
#left h2 {
  font-size: 3vw;
  letter-spacing: 1.1px;
}
#bottom #right {
  width: 32%;
  height: 100%;
  /* background-color: royalblue; */
  padding: 2.5vw 5.5vw;
}
#right h4 {
  font-size: 1.5vw;
  line-height: 1.5;
}
#page5 {
  width: 100%;
  height: 100vh;
  /* background-color: green; */
  background-image: url(https://uploads-ssl.webflow.com/61defec4a021d8fe954c11bd/61defec4a021d83ede4c11f8_stars.gif);
  position: relative;
}
#page5 #content {
  width: 70%;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-evenly; */
  text-align: center;
  gap: 12vw;
}
#page5 img {
  transition: linear;
  /* background-color: red; */
}
#content > h2 {
  font-size: 3.1vw;
  text-transform: initial;
  line-height: 0.88;
}
h2 > span {
  font-family: dance;
  text-transform: lowercase;
  /* color: aquamarine; */
  font-size: 4.3vw;
}
#content h5 {
  /* width: 40%; */
  text-transform: initial;
  font-size: 1.25vw;
  margin-top: -7.1vw;
  text-align: left;
  padding-left: 0.8vw;
}
#page6 h1 {
  font-size: 12vw;
  line-height: 10.9vw;
}
h1 .b {
  color: transparent;
  -webkit-text-stroke: 1px #dadada;
}
#page6 .left {
  overflow-x: auto;
  overflow-y: hidden;
}
#page6 .left::-webkit-scrollbar {
  display: none;
}
#page6 .right {
  overflow-x: auto;
  overflow-y: hidden;
}
#page6 .right::-webkit-scrollbar {
  display: none;
}
.right h1 {
  transform: translateX(-100%);
}
#page7 {
  height: 100vh;
  width: 100%;
  padding: 2vw 3vw;
  position: relative;
}
#page7 > h1 {
  text-align: center;
  width: 40%;
  text-transform: capitalize;
  font-size: 3vw;
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -15%);
}

#page7 h1 span {
  font-family: dance;
  text-transform: lowercase;
  font-size: 3.5vw;
}
#page7 #rect {
  height: 39vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  top: 40%;
  display: flex;
  justify-content: space-evenly;
}
#page7 #yes {
  position: relative;
  width: 30%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}
#page7 #no {
  position: relative;
  width: 30%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}
#yes > img {
  position: absolute;
  width: 60%;
  height: 79%;
  opacity: 0;
  border-radius: 0.15vw;
  transform: rotate(5deg);
  transition: opacity ease-in-out 0.4s;
}
#no > img {
  position: absolute;
  width: 60%;
  height: 79%;
  opacity: 0;
  border-radius: 0.15vw;
  transform: rotate(5deg);
  transition: opacity ease-in-out 0.6s;
}
#yes h1 {
  position: relative;
  z-index: 99;
}
#no h1 {
  position: relative;
  z-index: 99;
}
#page8 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#page8 > h1 {
  text-transform: initial;
  font-size: 4vw;
  position: absolute;
  left: 49%;
  top: 16.5%;
  transform: translateX(-49%);
  color: #fff;
}
#page8 #image {
  /* background-color: red; */
  width: 100%;
  height: 48.5vh;
  position: absolute;
  top: 35%;
  display: flex;
  align-items: center;
}
#image > img {
  height: 100%;
  transition: all ease-in-out 0.5s;
  transform: rotate(-10deg);
}
#image img:nth-child(3) {
  /* height: 200%; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
#image img:nth-child(4) {
  /* opacity: 0; */
  position: absolute;
  left: 63%;
  transform: translateX(-50%);
  z-index: 88;
  /* width: 90%; */
  height: 90%;
}
#image img:nth-child(2) {
  /* opacity: 0; */
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  z-index: 88;
  height: 90%;
}
#image img:nth-child(5) {
  /* opacity: 0; */
  position: absolute;
  left: 76%;
  transform: translateX(-50%);
  height: 80%;
}
#image img:nth-child(1) {
  /* opacity: 0; */
  position: absolute;
  left: 24%;
  transform: translateX(-50%);
  height: 80%;
}
#image > img:hover {
  scale: 1.22;
}

#main > #navbar {
  display: none;
}
